<div class="p-body-main">
	<div class="p-body-content">
		<div class="p-body-pageContent">
			<div class="block block--articles" data-xf-init="inline-mod" data-type="thread" data-href="/xenforo/index.php?inline-mod/">
				<div class="block-container">
					<div class="block-body">
						<div class="structItemContainer">
							<div class="structItemContainer-group js-threadList thread-grid">

								<div class="structItem structItem--thread is-prefix1 js-inlineModContainer js-threadListItem-673" data-author="admin">
									<div class="num-top">673</div>
									<div class="thread-cover">
										<img src="http://localhost/xenforo/styles/FS/ThreadThumbnail/no_image.png" style="width:100%;">
										<div class="structItem-title-cover-perifix">
											<a href="/xenforo/index.php?forums/its-testing-article.12/&amp;prefix_id=1" class="labelLink" rel="nofollow"><span class="label label--primary" dir="auto">Test</span></a>
										</div>
									</div>
									<div class="date-thread">
										<div class="time-thread">
											<time class="u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time>	
										</div>
										<div class="dot">
											•
										</div>
										<div class="thread-comments">
											0<span>comments </span>	
										</div>
									</div>
									<div class="structItem-cell structItem-cell--icon">
										<div class="structItem-iconContainer">
											<a href="/xenforo/index.php?members/admin.1/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="member-tooltip" style="background-color: #3b2b2b; color: #9d7b7b" id="js-XFUniqueId4">
												<span class="avatar-u1-s">A</span> 
											</a>
											<span class="avatar avatar--s avatar--separated structItem-secondaryIcon avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="tooltip" tabindex="0" data-trigger="auto" style="background-color: #3b2b2b; color: #9d7b7b" data-original-title="admin" id="js-XFUniqueId5">
												<span class="avatar-u1-s">A</span> 
											</span>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
										
										<div class="structItem-title">
											<a href="/xenforo/index.php?forums/its-testing-article.12/&amp;prefix_id=1" class="labelLink" rel="nofollow"><span class="label label--primary" dir="auto">Test</span></a>
											<a href="/xenforo/index.php?threads/hello-testing.673/" class="" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xenforo/index.php?threads/hello-testing.673/preview" id="js-XFUniqueId6">hello Testing</a>
										</div>
										<div class="inter-view-des">
											<p>
												hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing
											</p>
										</div>
										<div class="structItem-minor">
											<ul class="structItem-extraInfo">
												<li class="structItem-extraInfoMinor">
													<a href="/xenforo/index.php?threads/hello-testing.673/edit" data-xf-click="overlay" data-cache="false" data-href="/xenforo/index.php?threads/hello-testing.673/edit">
														Edit
													</a>
												</li>
												<li><label class="iconic iconic--hiddenLabel" data-xf-init="tooltip" data-original-title="Select for moderation" id="js-XFUniqueId7"><input type="checkbox" value="673" class="js-inlineModToggle"><i aria-hidden="true"></i><span class="iconic-label"><span class="u-srOnly">Select for moderation</span></span></label>
												</li>
											</ul>
											<ul class="structItem-parts">
												<li><a href="/xenforo/index.php?members/admin.1/" class="username " dir="auto" itemprop="name" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId8"><span class="username--staff username--moderator username--admin">admin</span></a></li>
												<li class="structItem-startDate"><a href="/xenforo/index.php?threads/hello-testing.673/" rel="nofollow"><time class="u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time></a></li>
											</ul>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--meta" title="First message reaction score: 0">
										<dl class="pairs pairs--justified">
											<dt>Replies</dt>
											<dd>0</dd>
										</dl>
										<dl class="pairs pairs--justified structItem-minor">
											<dt>Views</dt>
											<dd>3</dd>
										</dl>
									</div>
									<div class="structItem-cell structItem-cell--latest">
										<a href="/xenforo/index.php?threads/hello-testing.673/latest" rel="nofollow"><time class="structItem-latestDate u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time></a>
										<div class="structItem-minor">
											<a href="/xenforo/index.php?members/admin.1/" class="username " dir="auto" itemprop="name" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId9"><span class="username--staff username--moderator username--admin">admin</span></a>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--icon structItem-cell--iconEnd">
										<div class="structItem-iconContainer">
											<a href="/xenforo/index.php?members/admin.1/" class="avatar avatar--xxs avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="member-tooltip" style="background-color: #3b2b2b; color: #9d7b7b" id="js-XFUniqueId10">
												<span class="avatar-u1-s">A</span> 
											</a>
										</div>
									</div>
								</div>
								
								
								<div class="structItem structItem--thread is-prefix1 js-inlineModContainer js-threadListItem-673" data-author="admin">
									<div class="num-top">673</div>
									<div class="thread-cover">
										<img src="http://localhost/xenforo/styles/FS/ThreadThumbnail/no_image.png" style="width:100%;">
										<div class="structItem-title-cover-perifix">
											<a href="/xenforo/index.php?forums/its-testing-article.12/&amp;prefix_id=1" class="labelLink" rel="nofollow"><span class="label label--primary" dir="auto">Test</span></a>
										</div>
									</div>
									<div class="date-thread">
										<div class="time-thread">
											<time class="u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time>	
										</div>
										<div class="dot">
											•
										</div>
										<div class="thread-comments">
											0<span>comments </span>	
										</div>
									</div>
									<div class="structItem-cell structItem-cell--icon">
										<div class="structItem-iconContainer">
											<a href="/xenforo/index.php?members/admin.1/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="member-tooltip" style="background-color: #3b2b2b; color: #9d7b7b" id="js-XFUniqueId4">
												<span class="avatar-u1-s">A</span> 
											</a>
											<span class="avatar avatar--s avatar--separated structItem-secondaryIcon avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="tooltip" tabindex="0" data-trigger="auto" style="background-color: #3b2b2b; color: #9d7b7b" data-original-title="admin" id="js-XFUniqueId5">
												<span class="avatar-u1-s">A</span> 
											</span>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
										<div class="structItem-title">
											<a href="/xenforo/index.php?forums/its-testing-article.12/&amp;prefix_id=1" class="labelLink" rel="nofollow"><span class="label label--primary" dir="auto">Test</span></a>
											<a href="/xenforo/index.php?threads/hello-testing.673/" class="" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xenforo/index.php?threads/hello-testing.673/preview" id="js-XFUniqueId6">hello Testing</a>
										</div>
										<div class="inter-view-des">
											<p>
												hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing hello Testing
											</p>
										</div>
										<div class="structItem-minor">
											<ul class="structItem-extraInfo">
												<li class="structItem-extraInfoMinor">
													<a href="/xenforo/index.php?threads/hello-testing.673/edit" data-xf-click="overlay" data-cache="false" data-href="/xenforo/index.php?threads/hello-testing.673/edit">
														Edit
													</a>
												</li>
												<li><label class="iconic iconic--hiddenLabel" data-xf-init="tooltip" data-original-title="Select for moderation" id="js-XFUniqueId7"><input type="checkbox" value="673" class="js-inlineModToggle"><i aria-hidden="true"></i><span class="iconic-label"><span class="u-srOnly">Select for moderation</span></span></label>
												</li>
											</ul>
											<ul class="structItem-parts">
												<li><a href="/xenforo/index.php?members/admin.1/" class="username " dir="auto" itemprop="name" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId8"><span class="username--staff username--moderator username--admin">admin</span></a></li>
												<li class="structItem-startDate"><a href="/xenforo/index.php?threads/hello-testing.673/" rel="nofollow"><time class="u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time></a></li>
											</ul>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--meta" title="First message reaction score: 0">
										<dl class="pairs pairs--justified">
											<dt>Replies</dt>
											<dd>0</dd>
										</dl>
										<dl class="pairs pairs--justified structItem-minor">
											<dt>Views</dt>
											<dd>3</dd>
										</dl>
									</div>
									<div class="structItem-cell structItem-cell--latest">
										<a href="/xenforo/index.php?threads/hello-testing.673/latest" rel="nofollow"><time class="structItem-latestDate u-dt" dir="auto" datetime="2023-11-17T15:20:12+0500" data-time="1700216412" data-date-string="Nov 17, 2023" data-time-string="3:20 PM" title="Nov 17, 2023 at 3:20 PM">Nov 17, 2023</time></a>
										<div class="structItem-minor">
											<a href="/xenforo/index.php?members/admin.1/" class="username " dir="auto" itemprop="name" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId9"><span class="username--staff username--moderator username--admin">admin</span></a>
										</div>
									</div>
									<div class="structItem-cell structItem-cell--icon structItem-cell--iconEnd">
										<div class="structItem-iconContainer">
											<a href="/xenforo/index.php?members/admin.1/" class="avatar avatar--xxs avatar--default avatar--default--dynamic" data-user-id="1" data-xf-init="member-tooltip" style="background-color: #3b2b2b; color: #9d7b7b" id="js-XFUniqueId10">
												<span class="avatar-u1-s">A</span> 
											</a>
										</div>
									</div>
								</div>
								
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>