<xf:css src="user_upgrad_card.less"/>
<div class="creditsPricingCards" id="recurringCreditsCards">
	<div class="creditsPricingCard">
		<div class="creditsPricingCardTop box1-top">
			{{phrase('fs_bitcoin_integ_premium_top')}}
		</div>
		{{phrase('fs_bitcoin_integ_premium_body')}}
		<a href="" class="blockoPayBtn button box1-btn" data-toggle="modal" data-uid=07f50d8e6a44405c>
			{{phrase('upgrade')}}
			<img class="paymnet_btc_img" src="{{ base_url('styles/FS/BitcoinIntegration/btc.png') }}">
		</a>
	</div>

	<div class="creditsPricingCard">
		<div class="creditsPricingCardTop box2-top">
		{{phrase('fs_bitcoin_integ_top_ten_top')}}
		</div>
		{{phrase('fs_bitcoin_integ_top_ten_body')}}
		<a href="" class="blockoPayBtn button box2-btn" data-toggle="modal" data-uid=08785fe7b68d4191>
			{{phrase('upgrade')}} 
			<img class="paymnet_btc_img" src="{{ base_url('styles/FS/BitcoinIntegration/btc.png') }}">
		</a>
	</div>

	<div class="creditsPricingCard">
		<div class="creditsPricingCardTop box3-top">
		{{phrase('fs_bitcoin_integ_vip_top')}}
		</div>
		{{phrase('fs_bitcoin_integ_vip_body')}}
		<a href="" class="blockoPayBtn button box3-btn" data-toggle="modal" data-uid=bdc79d69a8644148>
			{{phrase('upgrade')}} 
			<img class="paymnet_btc_img" src="{{ base_url('styles/FS/BitcoinIntegration/btc.png') }}">
		</a>
	</div>

	<div class="creditsPricingCard">
		<div class="creditsPricingCardTop box4-top">
			{{phrase('fs_bitcoin_integ_provider_top')}} 
		</div>
			{{phrase('fs_bitcoin_integ_provider_body')}} 
		<a href="" class="blockoPayBtn button box4-btn" data-toggle="modal" data-uid=c55436c607ba44f1>
			{{phrase('upgrade')}} 
			<img class="paymnet_btc_img" src="{{ base_url('styles/FS/BitcoinIntegration/btc.png') }}">
		</a>
	</div>
</div>