<xf:textboxrow name="options[ipn_urln]" value="{$profile.options.ipn_urln}"
			   autocomplete="text"
			   label="{{ phrase('fs_nowpayments_ipn_urln') }}"
			   hint="{{ phrase('required') }}">
</xf:textboxrow>
<xf:passwordboxrow name="options[api_key]" value="{$profile.options.api_key}" type="password" 
				   autocomplete="new-password"
				   label="{{ phrase('fs_nowpayments_api_key') }}"
				   hint="{{ phrase('required') }}">
</xf:passwordboxrow>

<xf:passwordboxrow name="options[secret_key]" value="{$profile.options.secret_key}" type="password" 
				   autocomplete="new-password"
				   label="{{ phrase('fs_nowpayments_secret_key') }}"
				   hint="{{ phrase('required') }}">
</xf:passwordboxrow>