<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="paid-registrations" format=":int&lt;account_type_id&gt;/" controller="AddonFlare\PaidRegistrations:PaidRegistrations" context="af_paidregistrations_acc"/>
  <route route_type="admin" route_prefix="paid-registrations" sub_name="coupons" format="coupons/:int&lt;coupon_id&gt;/" controller="AddonFlare\PaidRegistrations:PaidRegistrations" context="af_paidregistrations_coupons" action_prefix="coupon"/>
</routes>
