<xf:title>{{ phrase('dc_link_proxy_password') }}</xf:title>

<xf:include template="dc_link_proxy_password_instrunctions"/>

<xf:form action="{{ link('redirect/match-password', null, {'to': $to}) }}" class="block">

	<div class="block-container">
		<div class="block-body">
			<xf:formrow rowtype="input"	label="{{ phrase('dc_link_proxy_enter_password') }}" hint="{{ phrase('required') }}">
				<xf:textbox name="password" placeholder="{{ phrase('dc_link_proxy_enter_password_place') }}" required="required"/>
			</xf:formrow>
		</div>
		<xf:submitrow icon="submit" sticky="true" rowtype="simple"/>
	</div>
</xf:form>