<xf:title page="{$page}">{$category.title}</xf:title>
<xf:description>{$category.description|raw}</xf:description>

<xf:css src="structured_list.less" />
<xf:css src="fs_rm_cat_style_grid_css.less" />

<style>

	.containerRm {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.responsive-div {
		background-size: cover;
		background-position: center;
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 20px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5); /* Fallback color if image doesn't load */
	}

	@media (max-width: 768px) {
		.responsive-div {
			width: 100% !important; /* Full width on small screens */
		}
	}

</style>

<div class="containerRm">

	<xf:macro name="simple_list_block"
			  arg-categoryTree="{$categoryTree}"
			  arg-categoryExtras="{$categoryExtras}"
			  arg-parentCategory="{$category}" />

</div>


<xf:macro template="metadata_macros" name="canonical_url"
		  arg-canonicalUrl="{{ link('canonical:resources/categories', $category, {'page': $page > 1 ? $page : null}) }}" />

<xf:breadcrumb source="$category.getBreadcrumbs(false)" />

<xf:macro template="xfrm_resource_page_macros" name="resource_page_options"
		  arg-category="{$category}" />

<xf:pageaction if="$category.canAddResource()">
	<xf:button href="{{ link('resources/categories/add', $category) }}" class="button--cta" icon="write">{{ phrase('xfrm_add_resource') }}</xf:button>
</xf:pageaction>

<xf:if is="$pendingApproval">
	<div class="blockMessage blockMessage--important">{{ phrase('content_submitted_displayed_pending_approval') }}</div>
</xf:if>

<xf:if is="$iconError">
	<div class="blockMessage blockMessage--error">{{ phrase('xfrm_new_icon_could_not_be_applied_try_later') }}</div>
</xf:if>

<xf:widgetpos id="xfrm_category_above_resources" context-category="{$category}" />

<xf:if is="$canInlineMod">
	<xf:js src="xf/inline_mod.js" min="1" />
</xf:if>

<div class="block" data-xf-init="{{ $canInlineMod ? 'inline-mod' : '' }}" data-type="resource" data-href="{{ link('inline-mod') }}">
	<div class="block-outer"><xf:trim>

		<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
					link="resources/categories" data="{$category}" params="{$filters}"
					wrapperclass="block-outer-main" />

		<xf:if contentcheck="true">
			<div class="block-outer-opposite">
				<div class="buttonGroup">
					<xf:contentcheck>
						<xf:if is="$canInlineMod">
							<xf:macro template="inline_mod_macros" name="button" />
						</xf:if>
						<xf:if is="$category.canWatch()">
							<xf:button href="{{ link('resources/categories/watch', $category) }}" class="button--link"
									   data-xf-click="switch-overlay"
									   data-sk-watch="{{ phrase('watch') }}"
									   data-sk-unwatch="{{ phrase('unwatch') }}">
								<xf:if is="{$category.Watch.{$xf.visitor.user_id}}">{{ phrase('unwatch') }}<xf:else />{{ phrase('watch') }}</xf:if>
							</xf:button>
						</xf:if>
					</xf:contentcheck>
				</div>
			</div>
		</xf:if>

		</xf:trim></div>

	<div class="block-container">

		<div class="block-body">
			<xf:if is="$resources is not empty">
				<div class="structItemContainer">

					<div class="structItemContainer-group js-threadList thread-grid">
						<xf:foreach loop="$resources" value="$resource">
							<xf:macro template="fs_rm_list_macros" name="resource"
									  arg-resource="{$resource}"
									  arg-category="{$category}" />
						</xf:foreach>
					</div>

				</div>
				<xf:elseif is="$filters" />
				<div class="block-row">{{ phrase('xfrm_there_no_resources_matching_your_filters') }}</div>
				<xf:else />
				<div class="block-row">{{ phrase('xfrm_no_resources_have_been_created_yet') }}</div>
			</xf:if>
		</div>
		<xf:comment>
			<div class="block-body">
				<xf:if is="$resources is not empty">
					<div class="structItemContainer">
						<xf:foreach loop="$resources" value="$resource">
							<xf:macro template="xfrm_resource_list_macros" name="resource"
									  arg-resource="{$resource}"
									  arg-category="{$category}" />
						</xf:foreach>
					</div>
					<xf:elseif is="$filters" />
					<div class="block-row">{{ phrase('xfrm_there_no_resources_matching_your_filters') }}</div>
					<xf:else />
					<div class="block-row">{{ phrase('xfrm_no_resources_have_been_created_yet') }}</div>
				</xf:if>
			</div>
		</xf:comment>
	</div>


	<div class="block-outer block-outer--after">
		<xf:pagenav
					page="{$page}" perpage="{$perPage}" total="{$total}"
					link="resources/categories" data="{$category}" params="{$filters}"
					wrapperclass="block-outer-main" />
		<xf:showignored wrapperclass="block-outer-opposite" />
	</div>
</div>

<xf:macro name="simple_list_block" arg-categoryTree="!" arg-parentCategory="!" arg-categoryExtras="!" arg-selected="{{ 0 }}">

	<xf:if is="$categoryTree.count()">
		<xf:macro name="simple_category_list"
				  arg-children="{$categoryTree}"
				  arg-extras="{$categoryExtras}"
				  arg-parentCategory="{$parentCategory}"
				  arg-isActive="{{ true }}"
				  arg-selected="{$selected}"
				  arg-pathToSelected="{{ $selected ? $categoryTree.getPathTo($selected) : [] }}" />
		<xf:else />
		<div class="block-row">{{ phrase('n_a') }}</div>
	</xf:if>

</xf:macro>

<xf:macro name="simple_category_list"
		  arg-selected="0"
		  arg-pathToSelected="{{ [] }}"
		  arg-parentCategory="!"
		  arg-children="!"
		  arg-extras="!"
		  arg-isActive="{{ false }}"
		  >
	<xf:foreach loop="$children" key="$id" value="$child">
		<xf:macro name="simple_category_list_item"
				  arg-selected="{$selected}"
				  arg-pathToSelected="{$pathToSelected}"
				  arg-parentCategory="{$parentCategory}"
				  arg-category="{$child.record}"
				  arg-extras="{$extras.{$id}}"
				  arg-children="{$child}"
				  arg-childExtras="{$extras}"
				  />
	</xf:foreach>
	<xf:comment>
		<xf:foreach loop="$children" key="$id" value="$category">
			<xf:set var="$isSelected" value="{{ $category.record.resource_category_id == $selected }}" />

			<div class="responsive-div" style="background-image: url({{$category.record.getCatImage() ? $category.record.getCatImage() : $xf.options.fs_rm_bg_img}}); width: {$xf.options.fs_rm_bg_width}; height: {$xf.options.fs_rm_bg_size};">
				<a href="{{ link('resources/categories', $category.record) }}" class="categoryList-link{{ $isSelected ? ' is-selected' : '' }}">
					{$category.record.title}
				</a>
			</div>

		</xf:foreach>
	</xf:comment>
</xf:macro>

<xf:macro name="simple_category_list_item"
		  arg-selected="!"
		  arg-pathToSelected="{{ [] }}"
		  arg-category="!"
		  arg-parentCategory="!"
		  arg-extras="!"
		  arg-children="!"
		  arg-childExtras="!"
		  >
	<xf:set var="$isSelected" value="{{ $category.resource_category_id == $selected }}" />
	<xf:set var="$hasPathToSelected" value="{$pathToSelected.{$category.resource_category_id}}" />
	<xf:set var="$isActive" value="{{ $isSelected OR $hasPathToSelected AND $children is not empty }}" />

	<xf:if is="$parentCategory.resource_category_id == $category.parent_category_id">
		<div class="responsive-div" style="background-image: url({{$category.getCatImage() ? $category.getCatImage() : $xf.options.fs_rm_bg_img}}); width: {$xf.options.fs_rm_bg_width}; height: {$xf.options.fs_rm_bg_size};">
			<a href="{{ link('resources/categories', $category) }}" class="categoryList-link{{ $isSelected ? ' is-selected' : '' }}">
				{$category.title}
			</a>
		</div>
	</xf:if>

	<xf:if is="$children is not empty">
		<xf:macro name="simple_category_list"
				  arg-selected="{$selected}"
				  arg-pathToSelected="{$pathToSelected}"
				  arg-children="{$children}"
				  arg-parentCategory="{$parentCategory}"
				  arg-extras="{$childExtras}"
				  arg-isActive="{$isActive}"
				  />
	</xf:if>
</xf:macro>