<div class="block">

	<div class="block-container">

		<div class="block-body">

			<xf:datalist data-xf-init="responsive-data-list">
				<xf:if is="$user is not empty">

					<xf:macro name="record_table_list" arg-user="{$user}" />

					<xf:else />
					<div class="blockMessage">
						{{ phrase('no_items_have_been_created_yet') }}
					</div>
				</xf:if>
			</xf:datalist>
		</div>

	</div>
</div>

<xf:macro name="record_table_list" arg-user="!">
	<xf:datarow rowtype="header">
		<xf:cell> {{ phrase('fs_thread_scoring_system_threads') }} </xf:cell>
		<xf:cell> {{ phrase('fs_thread_scoring_system_replies') }} </xf:cell>
		<xf:cell> {{ phrase('fs_thread_scoring_system_word') }} </xf:cell>
		<xf:cell> {{ phrase('fs_thread_scoring_system_reaction') }} </xf:cell>
		<xf:cell> {{ phrase('fs_thread_scoring_system_solutions') }} </xf:cell>
	</xf:datarow>

	<xf:set var="$afterDot" value="{{ $xf.options.fs_thread_scoring_system_decimals }}" />

	<xf:datarow>
		<xf:cell> {{ number($user.threads_score, $afterDot) }} </xf:cell>
		<xf:cell> {{ number($user.reply_score, $afterDot) }} </xf:cell>
		<xf:cell> {{ number($user.worlds_score, $afterDot) }} </xf:cell>
		<xf:cell> {{ number($user.reactions_score, $afterDot) }} </xf:cell>
		<xf:cell> {{ number($user.solutions_score, $afterDot) }} </xf:cell>
	</xf:datarow>

</xf:macro>