<xf:sidebar key="conversationInfo">

	<xf:if is="{{ $xf.visitor.hasPermission('fs_thread_scoring_system', 'can_view') }} && !in_array($thread.Forum.node_id, $xf.options.fs_thread_scoring_system_exc_forms)">
		<xf:set var="$data" value="{{ $xf.options.fs_thread_scoring_list_format == 'percentage' ? $thread->getPercentageSums() : $thread->getPointsSums() }}" />

		<xf:if is="count($data)">

			<div class="block">
				<div class="block-container">

					<h3 class="block-minorHeader">{{ phrase('fs_thread_scores') }}</h3>
					<xf:set var="$replyPhrase" value="{{ phrase('fs_thread_scores') }}" />
					<xf:set var="$afterDot" value="{{ $xf.options.fs_thread_scoring_system_decimals }}" />

					<div class="block-body block-row">

						<dl class="pairs pairs--justified">										
							<dt>{{ phrase('fs_thread_scores_users') }}</dt>
							<dd>{{ $xf.options.fs_thread_scoring_list_format == 'percentage' ? phrase('fs_thread_scores_users_total_percentage') : phrase('fs_thread_scores_users_total_points') }}</dd>
						</dl>

						<br/>

						<xf:foreach loop="$data" value="$value">

							<dl class="pairs pairs--justified">										
								<dt><xf:username user="$value.User" rich="true" defaultname="{$value.User.username}" itemprop="name" /></dt>
								<xf:if is="$xf.options.fs_thread_scoring_list_format == 'percentage'">
									<xf:set var="$percentageThread" value="{{ $value.thread_points != 0 ? 100 : 0 }}" />
									<xf:set var="$percentageSolution" value="{{ $value.solution_points != 0 ? 100 : 0 }}" />

									<dd data-xf-init="tooltip" title="{{phrase('fs_thread_scoring_system_thread') . ' ' . number($percentageThread, $afterDot) . ' % '}}
																	  {{phrase('fs_thread_scoring_system_reply') . ' ' . number($value.reply_percentage, $afterDot) . ' % '}}
																	  {{phrase('fs_thread_scoring_system_words') . ' ' . number($value.word_percentage, $afterDot) . ' % '}}
																	  {{phrase('fs_thread_scoring_system_reactions') . ' ' . number($value.reaction_percentage, $afterDot) . ' % '}}
																	  {{phrase('fs_thread_scoring_system_solution') . ' ' . number($percentageSolution, $afterDot) . ' % '}}">{{number($value.total_percentage, $xf.options.fs_thread_scoring_system_decimals)}}</dd>

									<xf:else />
									<dd data-xf-init="tooltip" title="{{phrase('fs_thread_scoring_system_thread') . ' ' . number($value.thread_points, $afterDot) . ' (' . phrase('points') . ')'}}
																	  {{phrase('fs_thread_scoring_system_reply') . ' ' . number($value.reply_points, $afterDot) . ' (' . phrase('points') . ')'}}
																	  {{phrase('fs_thread_scoring_system_words') . ' ' . number($value.word_points, $afterDot) . ' (' . phrase('points') . ')'}}
																	  {{phrase('fs_thread_scoring_system_reactions') . ' ' . number($value.reaction_points, $afterDot) . ' (' . phrase('points') . ')'}}
																	  {{phrase('fs_thread_scoring_system_solution') . ' ' . number($value.solution_points, $afterDot) . ' (' . phrase('points') . ')'}}">{{number($value.total_points, $xf.options.fs_thread_scoring_system_decimals)}}</dd>

								</xf:if>

							</dl>

						</xf:foreach>

					</div>
				</div>
			</div>

		</xf:if>
	</xf:if>

</xf:sidebar>