<xf:sidebar key="conversationInfo">

	<xf:if is="{{ $xf.visitor.hasPermission('fs_thread_scoring_system', 'can_view') }}">
		<xf:set var="$data" value="{{ $xf.options.fs_thread_scoring_list_format == 'percentage' ? $thread->getPercentageSums() : $thread->getPointsSums() }}" />

		<xf:if is="count($data.records)">

			<div class="block">
				<div class="block-container">

					<h3 class="block-minorHeader">{{ phrase('fs_thread_scores') }}</h3>
					<xf:set var="$replyPhrase" value="{{ phrase('fs_thread_scores') }}" />

					<div class="block-body block-row">

						<dl class="pairs pairs--justified">										
							<dt>{{ phrase('fs_thread_scores_users') }}</dt>
							<dd>{{ $xf.options.fs_thread_scoring_list_format == 'percentage' ? phrase('fs_thread_scores_users_total_percentage') : phrase('fs_thread_scores_users_total_points') }}</dd>
						</dl>

						<br/>

						<xf:foreach loop="$data.records" value="$value">

							<dl class="pairs pairs--justified">										
								<dt><xf:username user="$value.User" rich="true" defaultname="{$value.User.username}" itemprop="name" /></dt>
								<xf:if is="$xf.options.fs_thread_scoring_list_format == 'percentage'">
									<dd data-xf-init="tooltip" title="{{$data.totalPercentage.{$value.user_id}.thread ? phrase('fs_thread_scoring_system_thread') . ' ' . number($data.totalPercentage.{$value.user_id}.thread, $xf.options.fs_thread_scoring_system_decimals) . ' % ' : ' '}}
																	  {{$data.totalPercentage.{$value.user_id}.reply ? phrase('fs_thread_scoring_system_reply') . ' ' . number($data.totalPercentage.{$value.user_id}.reply, $xf.options.fs_thread_scoring_system_decimals) . ' % ' : ' '}}
																	  {{$data.totalPercentage.{$value.user_id}.words ? phrase('fs_thread_scoring_system_words') . ' ' . number($data.totalPercentage.{$value.user_id}.words, $xf.options.fs_thread_scoring_system_decimals) . ' % ' : ' '}}
																	  {{$data.totalPercentage.{$value.user_id}.reactions ? phrase('fs_thread_scoring_system_reactions') . ' ' . number($data.totalPercentage.{$value.user_id}.reactions, $xf.options.fs_thread_scoring_system_decimals) . ' % ' : ' '}}
																	  {{$data.totalPercentage.{$value.user_id}.solution ? phrase('fs_thread_scoring_system_solution') . ' ' . number($data.totalPercentage.{$value.user_id}.solution, $xf.options.fs_thread_scoring_system_decimals) . ' % ' : ' '}}">{{number($data.totalPercentage.{$value.user_id}.totalPoints, $xf.options.fs_thread_scoring_system_decimals)}}</dd>

									<xf:else />
									<dd data-xf-init="tooltip" title="{{$data.totalCounts.{$value.user_id}.thread ? phrase('fs_thread_scoring_system_thread') . ' ' . number($data.totalCounts.{$value.user_id}.thread, $xf.options.fs_thread_scoring_system_decimals) . ' (' . phrase('points') . ')' : ' '}}
																	  {{$data.totalCounts.{$value.user_id}.reply ? phrase('fs_thread_scoring_system_reply') . ' ' . number($data.totalCounts.{$value.user_id}.reply, $xf.options.fs_thread_scoring_system_decimals) . ' (' . phrase('points') . ')' : ' '}}
																	  {{$data.totalCounts.{$value.user_id}.words ? phrase('fs_thread_scoring_system_words') . ' ' . number($data.totalCounts.{$value.user_id}.words, $xf.options.fs_thread_scoring_system_decimals) . ' (' . phrase('points') . ')' : ' '}}
																	  {{$data.totalCounts.{$value.user_id}.reactions ? phrase('fs_thread_scoring_system_reactions') . ' ' . number($data.totalCounts.{$value.user_id}.reactions, $xf.options.fs_thread_scoring_system_decimals) . ' (' . phrase('points') . ')' : ' '}}
																	  {{$data.totalCounts.{$value.user_id}.solution ? phrase('fs_thread_scoring_system_solution') . ' ' . number($data.totalCounts.{$value.user_id}.solution, $xf.options.fs_thread_scoring_system_decimals) . ' (' . phrase('points') . ')' : ' '}}">{{number($data.totalCounts.{$value.user_id}.totalPoints, $xf.options.fs_thread_scoring_system_decimals)}}</dd>

								</xf:if>

							</dl>

						</xf:foreach>

					</div>
				</div>
			</div>

		</xf:if>
	</xf:if>

</xf:sidebar>