<xf:title>{{ phrase('CMTV_Math_insert_math') }}</xf:title>

<xf:js src="CMTV/Math/insertMathDialog.js" addon="CMTV/Math" />

<form class="block" id="editor_math_form" data-xf-init="insert-math-form">
	<div class="block-container">
		<div class="block-body">
			<xf:radiorow name="math_type" label="{{ phrase('CMTV_Math_type') }}" explain="{{ phrase('CMTV_Math_type_explain') }}">
				<xf:option value="block" checked="checked" label="{{ phrase('CMTV_Math_block') }}" />
				<xf:option value="inline" label="{{ phrase('CMTV_Math_inline') }}" />
			</xf:radiorow>

			<xf:textarearow name="latex_input" rows="2" autosize="true" autofocus="1"id="latex_input"
							label="{{ phrase('CMTV_Math_latex_input') }}" explain="{{ phrase('CMTV_Math_latex_input_explain') }}" />

			<h2 class="block-formSectionHeader">
				<span class="block-formSectionHeader-aligner">
					<span class="preview-loading"><xf:fa icon="fa-sync-alt fa-spin" /></span>
					{{ phrase('CMTV_Math_preview') }}
				</span>
			</h2>

			<div class="preview-container showing">
				<div id="mathPreview"><formula id="preview">{{ phrase('preview') }}</formula></div>
				<div class="error" id="error">{{ phrase('CMTV_Math_incorrect_latex_input') }}</div>
				<div class="empty" id="empty">{{ phrase('CMTV_Math_start_typing_math') }}</div>
			</div>
		</div>

		<xf:submitrow submit="{{ phrase('continue') }}" id="editor_math_submit" />
	</div>
</form>

<script>
	const formulaInput = document.getElementById("latex_input");
	const outputDiv = document.getElementById("preview");
	const emptyDiv = document.getElementById("empty");
	const previewDiv = document.getElementById("mathPreview");
	const errorDiv = document.getElementById("error");
	const loadingIcon = document.querySelector(".preview-loading");

	previewDiv.style.display = "none";
	errorDiv.style.display = "none";
	outputDiv.textContent = "";

	function showLoadingIcon() {
		loadingIcon.classList.add("showing");
	}

	function hideLoadingIcon() {
		loadingIcon.classList.remove("showing");
	}

	function convertFormula() {

		const formula = formulaInput.value;
		outputDiv.textContent = "";
		showLoadingIcon();

		// Regular expression to match LaTeX delimiters or commands
		const mathJaxPattern = /\\\[|\\\]|\\\(|\\\)|\\(?:[^a-zA-Z]|[a-zA-Z]+ ?)/;
		if (mathJaxPattern.test(formula)) {

			previewDiv.style.display = "block";
			emptyDiv.style.display = "none";
			errorDiv.style.display = "none";

			var mathPreviewDiv = document.getElementById("mathPreview");

			var formulaElement = document.createElement("formula");

			formulaElement.textContent = formula;

			mathPreviewDiv.innerHTML = "";
			mathPreviewDiv.appendChild(formulaElement);

			hideLoadingIcon();

			var preview = document.getElementsByClassName("mathJaxEqu");
			MathJax.typeset(preview);

		} else {
			if (formulaInput.value.trim() === "") {
				emptyDiv.style.display = "block";
				errorDiv.style.display = "none";
			} else {
				emptyDiv.style.display = "none";
				errorDiv.style.display = "block";
			}
			previewDiv.style.display = "none";

			hideLoadingIcon();
		}
	}

	formulaInput.addEventListener("input", convertFormula);
</script>