<xf:macro name="select2_setup">
    <xf:comment>A dedicated macro just for loading select2 dependencies</xf:comment>
    <xf:css src="select2.less"/>
    <xf:css src="altf_select2.less"/>
    <xf:js prod="xf/token_input-compiled.js" dev="vendor/select2/select2.full.min.js, xf/token_input.js"/>

    <xf:js>
        jQuery.extend(XF.phrases, {
        s2_error_loading: "{{ phrase('s2_error_loading')|escape('js') }}",
        s2_input_too_long: "{{ phrase('s2_input_too_long')|escape('js') }}",
        s2_input_too_short: "{{ phrase('s2_input_too_short')|escape('js') }}",
        s2_loading_more: "{{ phrase('s2_loading_more')|escape('js') }}",
        s2_maximum_selected: "{{ phrase('s2_maximum_selected')|escape('js') }}",
        s2_no_results: "{{ phrase('s2_no_results')|escape('js') }}",
        s2_searching: "{{ phrase('s2_searching')|escape('js') }}"
        });
    </xf:js>
</xf:macro>

<xf:macro name="field_form_setup">
    <xf:comment>A dedicated macro for initializing filter dependencies. Should be called only once per page.</xf:comment>
    <xf:css src="altf_filter_setup.less"/>
    <xf:css src="altf_thread_field.less"/>
    <xf:js src="AL/FilterFramework/filter_reload.js" min="0"/>
    <xf:js src="AL/FilterFramework/column_fix.js" min="0"/>
    <xf:if is="$xf.options.altf_filterable_lists">
        <xf:macro name="select2_setup"/>
    </xf:if>
</xf:macro>

<xf:macro name="field_form" arg-fields="!" arg-set="!" arg-reloadTarget="" arg-namePrefix="thread_fields">
    <xf:css src="altf_thread_field.less"/>
    <xf:css src="altf_select2.less"/>
    <xf:js src="AL/FilterFramework/filter_reload.js" min="0"/>
    <div data-xf-init="filterFormContainer filter-form-column-fix" data-reload-target="{$reloadTarget}"
         data-auto-reload="{$xf.options.altf_auto_reload}"
         data-total-count-indicator="{$xf.options.altf_total_count_indicator}"
         data-filterable-lists="{$xf.options.altf_filterable_lists}"
         data-filterable-list-api="{{ link('forums/load-selection-options') }}"
    ></div>
    <xf:if is="{$xf.options.altf_keyword_search} !== 'disabled'">
        <div class="menu-row menu-row--separated">
            <label for="ctrl_started_by">{{ phrase('keywords:') }}</label>
            <div class="u-inputSpacer">
                <xf:textbox name="thread_fields[__keywords]" value="{{ $set.__keywords }}"/>
            </div>
        </div>
    </xf:if>
    <xf:if is="{$xf.options.altf_tag_search} !== 'disabled'">
        <div class="menu-row menu-row--separated">
            <label for="ctrl_started_by">{{ phrase('tags:') }}</label>
            <div class="u-inputSpacer">
                <xf:tokeninput name="thread_fields[__tags]" value="{{ $set.__tags}}"
                               href="{{ link('misc/tag-auto-complete') }}"
                               min-length="{$xf.options.tagLength.min}"
                               max-length="{$xf.options.tagLength.max}"
                               max-tokens="{$xf.options.maxContentTags}"
                >
                </xf:tokeninput>
            </div>
        </div>
    </xf:if>
    <xf:foreach loop="$fields" key="$fieldId" value="$fieldDefinition">
        <div class="menu-row menu-row--separated customFieldContainer customFieldContainer--{$fieldDefinition.field_type} {$fieldDefinition.getFacetData().getContainerClass($fieldDefinition)} threadFieldContainer filterTemplate--{$fieldDefinition.FieldData.filter_template} {{ $xf.options.altf_filterable_lists ? 'customFieldContainer--hasFilterableList' : '' }}">
            {$fieldDefinition.title}:
            <div class="inputGroup u-inputSpacer">
                <xf:macro template="altf_thread_field_form_element" name="filter_element" arg-set="{$set}"
                          arg-definition="{$fieldDefinition}" arg-editMode="1" arg-namePrefix="{$namePrefix}"/>
            </div>

            <xf:if is="
                in_array($fieldDefinition.FieldData.filter_template, ['multiselect', 'checkbox'])
                && in_array($fieldDefinition.field_type, ['checkbox', 'multiselect'])
            ">
                <xf:js src="AL/FilterFramework/multiple_choice_configure.js"/>
                <div class="u-inputSpacer multipleChoiceConfigureContainer" data-xf-init="multipleChoiceConfigure">
                    <xf:select
                            name="{$namePrefix}[__config][{$fieldDefinition.field_id}][match_type]"
                            value="{{ $set.__config.{$fieldDefinition.field_id}.match_type ? $set.__config.{$fieldDefinition.field_id}.match_type : $fieldDefinition.FieldData.default_match_type }}"
                    >
                        <xf:option value="OR">{{ phrase('altf_results_matching_any_option') }}</xf:option>
                        <xf:option value="AND">{{ phrase('altf_results_matching_all_options') }}</xf:option>
                    </xf:select>
                </div>
            </xf:if>
        </div>
    </xf:foreach>
</xf:macro>