<xf:if is="{$filter_location}==='above_thread_list'">
    <xf:css src="altf_above_thread_filter_container.less"/>
    <div class="block filterAboveThreadList">
        <div class="block-outer">
            <div class="block-container">
                <h3 class="block-minorHeader block-filterBar">
                    <xf:if is="{$xf.options.altf_auto_collapse}">
                        <span class="collapseTrigger collapseTrigger--block" data-xf-click="toggle" data-target="< :up:next">
                            {{ phrase('filters') }}
                        </span>
                        <xf:else/>
                        <span>
                            {{ phrase('filters') }}
                        </span>
                    </xf:if>
                </h3>
                <xf:comment>Call filter setup macro manually</xf:comment>
                <xf:macro template="altf_thread_filter_form_macros" name="field_form_setup"/>
                <xf:if is="{$xf.options.altf_auto_collapse}">
                    <div class="block-body block-body--collapsible">
                        <xf:include template="forum_filters"/>
                    </div>
                    <xf:else />
                    <div class="block-body">
                        <xf:include template="forum_filters"/>
                    </div>
                </xf:if>
            </div>
        </div>
    </div>
</xf:if>