<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="forum-stats" format=":int&lt;stat_id&gt;/" controller="AddonFlare\ForumStats:ForumStats" context="af_forumstats_config"/>
  <route route_type="public" route_prefix="forum-stats" format=":int&lt;stat_id&gt;/" controller="AddonFlare\ForumStats:ForumStats"/>
</routes>
