<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:form action="{{ link('account/downgrade', null, {'user_upgrade_record_id': $activeUpgrade.user_upgrade_record_id}) }}"
	ajax="true" data-force-flash-message="on" class="block">

	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_downgrade_following_user:') }}
				<strong>
					{$activeUpgrade.User.username}
					<span role="presentation" aria-hidden="true">&middot;</span>
					{$activeUpgrade.Upgrade.title}
				</strong>
			</xf:inforow>
		</div>
		<xf:submitrow submit="{{ phrase('downgrade') }}" rowtype="simple" />
	</div>
</xf:form>