<xf:title>{{ phrase('fs_production_complete_title') }}</xf:title>

<xf:breadcrumb source="$thread.getBreadcrumbs()" />

<xf:form action="{{ link('threads/complete-production', $thread) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('fs_production_you_sure_you_want_to_comnplete_this_product') }}
			</xf:inforow>

		</div>
		<xf:submitrow submit="{{ phrase('fs_production_submit') }}" rowtype="simple" />
	</div>
</xf:form>