<xf:title>{{ phrase('Add Iframe Videos') }}</xf:title>
<xf:form action="{{ link('iframe/save', $data) }}"  class="block" ajax="true">
	
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="iframe_title" value="{$data.iframe_title}" maxlength="{{ max_length($data, 'iframe_title') }}"
				label="{{ phrase('Iframe Title') }}" />
			
            <xf:textboxrow name="iframe_URL"  type="url" value="{$data.iframe_URL}" maxlength="{{ max_length($data, 'iframe_URL') }}"
				label="{{ phrase('Iframe Link') }}" />
	       
			<xf:selectrow name="video_id" value="{{ $data.video_link ? $data.video_link : 0 }}" label="{{ phrase('Brand Title') }}" class="" explain="{{ phrase('Select one from Brand Title or Rons Interview ') }}"  >
				<xf:option value="" selected="true">{{phrase('Brand Title')}}</xf:option>
				<xf:foreach loop="$iframeSites" value="$sponsor">
					<xf:option value="{{$sponsor.video_id}}" >{{$sponsor.video_feature}}</xf:option>
				</xf:foreach>
			</xf:selectrow>
			
			<xf:selectrow name="display_day" value="{$data.display_day}" label="{{ phrase('Display Day') }}"
                explain="{{ phrase('Select which day this video should display') }}">
				<xf:option value="7">Unknown</xf:option>
                <xf:option value="0">{{ phrase('Sunday') }}</xf:option>
                <xf:option value="1">{{ phrase('Monday') }}</xf:option>
                <xf:option value="2">{{ phrase('Tuesday') }}</xf:option>
                <xf:option value="3">{{ phrase('Wednesday') }}</xf:option>
                <xf:option value="4">{{ phrase('Thursday') }}</xf:option>
                <xf:option value="5">{{ phrase('Friday') }}</xf:option>
                <xf:option value="6">{{ phrase('Saturday') }}</xf:option>
            </xf:selectrow>
			
			<xf:checkboxrow>
						<xf:option name="rons" value="1" selected="{$data.rons}"
					   label="{{ phrase('Rons Interview') }}" data-hide="true">
				<xf:dependent>
			<xf:checkbox>
						<xf:option name="rons_featured" value="1" selected="{$data.rons_featured}"
					   label="{{ phrase('rons_featured') }}" />
					</xf:checkbox>
					
					
				</xf:dependent>
				
				</xf:option>
				
				
				
				
			</xf:checkboxrow>
			<xf:checkboxrow>
			<xf:option name="feature" value="1" selected="{$data.feature}"
					 	label="{{ phrase('Feature Video') }}"/>
			</xf:checkboxrow>
			</div>

		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>