.p-navgroup-link.p-navgroup-link--conversations i:after {
	content: url(styles/FS/Trancefix/Icons_White/mail_FILL0_wght400_GRAD0_opsz24.svg);
	padding-top: 2px;
}

.p-navgroup-link.p-navgroup-link--alerts i:after {
	content: url(styles/FS/Trancefix/Icons_White/notifications_FILL0_wght400_GRAD0_opsz24.svg);
}

.p-navgroup-link.p-navgroup-link--search i:after {
	content: url(styles/FS/Trancefix/Icons_White/search_FILL0_wght400_GRAD0_opsz24.svg);
}

.structItem-status--locked::before {
	content: url(styles/FS/Trancefix/Icons_White/lock_FILL0_wght400_GRAD0_opsz24.svg);
}

.structItem-status--sticky::before {
	content: url(styles/FS/Trancefix/Icons_White/push_pin_FILL0_wght400_GRAD0_opsz24.svg);
}