<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="search-own-thread" format=":int&lt;id&gt;/:page" controller="FS\SearchOwnThread:SearchOwnThread" context="fs_search_own_thread"/>
  <route route_type="public" route_prefix="search-own-thread" format=":int&lt;id&gt;/:page" controller="FS\SearchOwnThread:SearchOwnThread"/>
</routes>
