<xf:macro name="header" arg-meeting="!">
	<xf:page option="headerHtml">
		<div class="contentRow contentRow--hideFigureNarrow">
			<div class="contentRow-main">
				<div class="p-title">
					<h1 class="p-title-value">

						{$meeting.topic}

					</h1> 
				</div>

				<div class="p-title-pageAction" style="float:right;">

					<xf:if is="$xf.visitor.user_id==$meeting.user_id And $meeting.status != 1">
						<xf:button href="{{ link('meetings/start-meeting',$meeting) }}" class="button--cta"  rel="nofollow">
							{{ phrase('fs_start_meeting') }}
						</xf:button>
					</xf:if>

					<xf:if is="{{$xf.visitor.isMemberOf($meeting.join_usergroup_ids)}} && $meeting.user_id!=$xf.visitor.user_id && $meeting.status == 1">
						<xf:button href="{{ link('meetings/join-meeting',$meeting) }}" class="button"  rel="nofollow">
							{{ phrase('fs_join_meeting') }}
						</xf:button>
					</xf:if>

				</div>

				<div class="p-description">
					<ul class="listInline listInline--bullet">
						<li>
							<xf:fa icon="fa-user" title="{{ phrase('author')|for_attr }}" /> <span class="u-srOnly">{{ phrase('fs_creater') }}</span>
							<xf:username user="{$meeting.User}" defaultname="{$meeting.User.username}" class="u-concealed" /> </li>
						<li>
							<xf:fa icon="fa-clock" title="{{ phrase('xfrm_creation_date')|for_attr }}" /> <span class="u-srOnly">{{ phrase('fs_creation_date') }}</span>
							<a href="{{ link('meetings', $meeting) }}" class="u-concealed">
								<xf:date time="{$meeting.created_date}" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</xf:page>
</xf:macro>

<xf:macro name="tabs" arg-meeting="!" arg-selected="!">
	<div class="tabs tabs--standalone">
		<div class="hScroller" data-xf-init="h-scroller">
			<span class="hScroller-scroll">
				<a class="tabs-tab {{ $selected == 'joiner' ? 'is-active' : '' }}" href="{{ link('meetings/joiners', $meeting) }}">{{ phrase('fs_meeting_zoom_joined') }}</a>
			</span>
		</div>
	</div>
</xf:macro>

<xf:macro name="leftTime" arg-meeting="!">
	<div id="meeting-counter-{{$meeting.meeting_id}}"> <span class="label label--accent label--small label--counter" id="days-meeting-{{$meeting.meeting_id}}">
		{{phrase('fs_meeting_DD')}}
		</span> <span class="label label--accent label--small label--counter" id="hours-meeting-{{$meeting.meeting_id}}">
		{{phrase('fs_meeting_HH')}}
		</span> <span class="label  label--accent label--small label--counter" id="minutes-meeting-{{$meeting.meeting_id}}">
		{{phrase('fs_meeting_MM')}}
		</span> <span class="label label--accent label--small label--counter" id="seconds-meeting-{{$meeting.meeting_id}}">
		{{phrase('fs_meeting_SS')}}
		</span> 
	</div>
</xf:macro>

<xf:macro name="meetingJoin" arg-meeting="!">
	<xf:sidebar key="meetingJoin">
		<div class="block">
			<div class="block-container">
				<h3 class="block-minorHeader">{{ phrase('fs_meeting_join') }}</h3>

				<div class="block-body block-row block-row--minor">
					<dl class="pairs pairs--justified"><dt>{{ phrase('fs_meeting_join_url') }}</dt> <dd>
						<xf:macro name="copy_key" arg-url="{{$meeting.z_join_url}}" arg-success="{{phrase('fs_join_url_copy_successfully')}}" arg-targclass="js-join-copyUrl{{$meeting.meeting_id}}"/>
						</dd></dl>
				</div>
			</div>
		</div>
	</xf:sidebar>
</xf:macro>

<xf:macro name="simple_meeting" arg-meeting="!">
	<div class="contentRow">
		<div class="contentRow-main contentRow-main--close">
			<a href="{{ link('meetings', $meeting) }}">{$meeting.topic}</a>
			<div class="contentRow-minor contentRow-minor--smaller">
				<ul class="listInline listInline--bullet">
					<li>{{ $meeting.User.username ?: $meeting.username }}</li>
					<li>{{ phrase('fs_meetimg_date:') }} <xf:date time="{$meeting.start_time}" /></li>
				</ul>
			</div>
		</div>
	</div>
</xf:macro>

<xf:macro name="copy_key" arg-url="!" arg-success="!" arg-targclass="">
	<code class="{{$targclass}}" style="display:none;">{$url}</code>
	<xf:button icon="copy"
			   data-xf-init="copy-to-clipboard"
			   data-copy-target=".{{$targclass}}"
			   data-success="{{$success}}"
			   class="button--link is-hidden" />
</xf:macro>

<xf:macro name="uper_copy_key" arg-url="!" arg-success="!" arg-targclass="">
	<code class="{{$targclass}}" style="display:none;">{$url}</code>
	<xf:button icon="copy"
			   data-xf-init="copy-to-clipboard"
			   data-copy-target=".{{$targclass}}"
			   data-success="{{$success}}"
			   class="is-hidden button--cta" >{{phrase('fs_copy_join_url')}}</xf:button>
</xf:macro>