<xf:css src="fs_avatarGallery.less" />
<xf:js src="FS/AvatarGallery/random_avatar.js?{{$xf.time}}"/>

<style>
	#onCustomAvatar{
		display: none;
	}
</style>

<xf:if is="$xf.options.fs_use_random || $xf.options.fs_use_custom">

	<xf:if is="($xf.options.fs_use_random && $xf.options.fs_use_custom) || $xf.options.fs_use_random">

		<xf:formrow label="{{ phrase('fs_random_register_avatar')}}" >
			<div id="xb_avatar_select">
				<img class="avatar avatar--s" id="imagePreview" src="{$random_avatar.url}" style="width: {$xf.options.fs_register_avatar_preview.width}px; height: {$xf.options.fs_register_avatar_preview.height}px;">
			</div>
		</xf:formrow>
		<xf:else />
		<xf:formrow label="{{ phrase('fs_random_register_avatar')}}" id="onCustomAvatar">
			<div id="xb_avatar_select">
				<img class="avatar avatar--s" id="imagePreview" src="{$random_avatar.url}" style="width: {$xf.options.fs_register_avatar_preview.width}px; height: {$xf.options.fs_register_avatar_preview.height}px;">
			</div>
		</xf:formrow>
	</xf:if>

</xf:if>



<xf:formrow label="{{ phrase('fs_random_register_avatar_btn')}}" id="random_button_c">
	<xf:if is="$xf.options.fs_use_random">
		<input id="fs_random_input" type="hidden" name="gallery_avatar" value="{$random_avatar.data-path}"/>
		<input id="fs_random_avatar_limit" type="hidden" name="random_avatar_limit" />

		<xf:button data-xf-click="xb_random_avatar" data-random-data-limit="{$xf.options.fs_random_limit}">{{ phrase('fs_random_avatar_register') }}</xf:button>

	</xf:if>
	<xf:if is="$xf.options.fs_use_custom">

		<label class="button">{{ phrase('upload_new_custom_avatar') }}
			<xf:upload name="img_avatar" id="imageUpload" class="js-uploadAvatar" accept=".gif,.jpeg,.jpg,.jpe,.png,.webp" style="display: none;"/>
		</label>

	</xf:if>
</xf:formrow>

<script>
	document.getElementById('imageUpload').addEventListener('change', function(event) {
		const file = event.target.files[0];
		const preview = document.getElementById('imagePreview');
		const previewImgTag = document.getElementById('onCustomAvatar');

		if (file) {
			const reader = new FileReader();
			reader.onload = function(e) {
				preview.src = e.target.result;
				previewImgTag.style.display = 'flex'; 
			};
			reader.readAsDataURL(file); 
		} else {
			previewImgTag.style.display = 'none'; 
			preview.src = ''; 
		}
	});
</script>