<xf:textboxrow name="options[client_id]" value="{$profile.options.client_id}" type="text"
	label="{{ phrase('fs_coinpayments_client_id_label') }}"
	hint="{{ phrase('required') }}">

	<xf:explain>
		{{ phrase('fs_coinpayments_key_explain') }}
	</xf:explain>
</xf:textboxrow>

<xf:textboxrow name="options[client_secret]" value="{$profile.options.client_secret}" type="text"
	label="{{ phrase('fs_coinpayments_client_secret_label') }}"
	hint="{{ phrase('required') }}">

	<xf:explain>
		{{ phrase('fs_coinpayments_key_explain') }}
	</xf:explain>
</xf:textboxrow>