<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<xf:js src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" />


<xf:js>

	$(document).on('click', 'a[id^="yt-url-"], a[id^="video-file-"]', function (e) {
	e.preventDefault();
	$('#fs_yt_video_fullwidth_slider').addClass('slider-locked'); // Lock slider

	$(this).magnificPopup({
	type: 'iframe',
	callbacks: {
	beforeOpen: function () {
	console.log('Slider locked.');
	},
	close: function () {
	$('#fs_yt_video_fullwidth_slider').removeClass('slider-locked'); // Unlock slider
	console.log('Slider unlocked.');
	},
	},
	}).magnificPopup('open');
	});




</xf:js>

<style>

	.slider-locked {
		pointer-events: none; /* Disable all pointer interactions */
		touch-action: none; /* Prevent touch interactions */
	}

</style>

<xf:if is="$data is not empty">
	<xf:css src="fs_yt_video_slider.less" />
	<xf:js src="FS/YtVideos/jquery.fts.1.0.js">
		<xf:js src="FS/YtVideos/jquery.fts.wheel.js" />
		<xf:js src="FS/YtVideos/jquery.fts.min.js" />
		{{ include('fs_yt_video_slider_js') }}
	</xf:js>
	<div class="block ftslider">
		<div class="block-container">
			<h3 class="block-header">{{ $title ?: phrase('fs_yt_videos_slider') }}</h3>	

			<div class="block-body">	
				<div id="fs_yt_video_fullwidth_slider" class="everslider fullwidth-slider">
					<ul class="es-slides">
						<xf:foreach loop="$data" value="$value" i="$key">
							<li>
								<xf:if is="$value.thumbnail">
									<a class="yt-url" id="yt-url-{$key}-{$value.video_id}" href="{{ $value.getYtWatchUrl() }}">
										<img src="{{$value.thumbnail}}" 
											 alt="xyz{$key}.jpeg"
											 loading="lazy"
											 style="width: {$xf.options.fs_yt_slider_image_dimensions.width}px; height: {$xf.options.fs_yt_slider_image_dimensions.height}px;"
											 title="{{ $value.title }}" />
									</a>
									<xf:else />
									<a class="video-file" id="video-file-{$key}-{$value.video_id}" href="{{ $value.Attachment.direct_url }}">
										<xf:if is="$value.isImage()">
											<img src="{{$value.getImgUrl()}}" 
												 alt="xyz{$key}.jpeg"
												 loading="lazy"
												 style="width: {$xf.options.fs_yt_slider_image_dimensions.width}px; height: {$xf.options.fs_yt_slider_image_dimensions.height}px;"
												 title="{{ $value.title }}" />
											<xf:else />
											<video data-xf-init="video-init"
												   style="width: {$xf.options.fs_yt_slider_image_dimensions.width}px; height: {$xf.options.fs_yt_slider_image_dimensions.height}px;">
												<source src="{$value.Attachment.direct_url}" />
											</video>
										</xf:if>
									</a>
								</xf:if>
							</li>
						</xf:foreach>
					</ul>
				</div>

			</div>
		</div>
	</div>	
</xf:if>