<xf:title page="{$page}">{{ phrase('fs_my_ad_message') }}</xf:title>

<div class="block" data-xf-init="inline-mod" data-type="conversation" data-href="{{ link('inline-mod') }}">
	<div class="block-outer">
		<xf:pagenav
					page="{$page}" perpage="{$perPage}" total="{$total}"
					link="my-ad/messages" params=""
					wrapperclass="block-outer-main" />
	</div>

	<div class="block-container">

		<div class="block-body">
			<xf:if is="$unreadThreads is not empty">
				<div class="structItemContainer">
					<xf:foreach loop="$unreadThreads" value="$value">
						<xf:macro name="viewMessages" arg-value="{$value}" />
					</xf:foreach>
				</div>
				
				<div class="block-footer">
					<span class="block-footer-counter">{{ display_totals($unreadThreads, $total) }}</span>
				</div>
				<xf:else />
				<div class="block-row">{{ phrase('fs_my_ad_there_no_messages_to_display') }}</div>
			</xf:if>
		</div>
	</div>

	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
				link="my-ad/messages" params=""
				wrapperclass="block-outer block-outer--after" />
</div>

<xf:macro name="viewMessages"
		  arg-value="!" >

	<xf:css src="structured_list.less" />

	<div class="structItem structItem--conversation is-unread js-inlineModContainer" data-author="{{ $value.thread.User.username }}">
		<div class="structItem-cell structItem-cell--icon">
			<div class="structItem-iconContainer">
				<xf:avatar user="$value.thread.User" size="s" defaultname="{$value.thread.User.username}" />
			</div>
		</div>
		<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">

			<a href="{{ link('threads', $value.thread) }}" class="structItem-title" data-tp-primary="on">{$value.thread.title}</a>

			<div class="structItem-minor">
				<xf:comment>
					<xf:if contentcheck="true">
						<ul class="structItem-extraInfo">
							<xf:contentcheck>
								<xf:if is="$allowInlineMod">
									<li><xf:checkbox standalone="true">
										<xf:option value="{$userConv.conversation_id}" class="js-inlineModToggle" />
										</xf:checkbox></li>
								</xf:if>
							</xf:contentcheck>
						</ul>
					</xf:if>
				</xf:comment>

				<ul class="structItem-parts">
					<li>
						<ul class="listInline listInline--comma listInline--selfInline">
							<li><xf:username user="$value.thread.User" defaultname="{$value.thread.User.username}" title="{{ phrase('conversation_starter') }}" /></li>
						</ul>
					</li>
					<li class="structItem-startDate"><a href="{{ link('threads', $value.thread) }}" rel="nofollow"><xf:date time="{$value.thread.post_date}" /></a></li>
				</ul>

			</div>
		</div>
		<div class="structItem-cell structItem-cell--meta">
			<dl class="pairs pairs--justified">
				<dt>{{ phrase('fs_my_ads_unread_replies') }}</dt>
				<dd>{$value.unReadPostsCount|number}</dd>
			</dl>
			<dl class="pairs pairs--justified structItem-minor">
				<dt>{{ phrase('participants') }}</dt>
				<dd>{$value.participants|number}</dd>
			</dl>
		</div>
		<div class="structItem-cell structItem-cell--latest">
			<a href="{{ link('threads', $value.thread) }}" rel="nofollow"><xf:date time="{$value.thread.last_post_date}" class="structItem-latestDate" /></a>
			<div class="structItem-minor"><xf:username user="{$value.thread.LastPost.User}" /></div>
		</div>
	</div>
</xf:macro>