<xf:title>{{ phrase('fs_email_logs_detail') }}</xf:title>

<xf:form action="{{ link($prefix . '/toggle') }}" class="block" ajax="true">
	<div class="block-outer">
		<xf:macro
				  template="filter_macros"
				  name="quick_filter"
				  arg-key="email-logs/detail"
				  arg-class="block-outer-opposite"
				  />
	</div>

	<div class="block-container">

		<xf:if is="$emailLogsDetail is not empty">
			<div class="block-body">
				<xf:datalist data-xf-init="responsive-data-list">

					<xf:macro
							  name="table_list"
							  arg-data="{$emailLogsDetail}"
							  />

				</xf:datalist>

				<div class="block-footer">
					<span class="block-footer-counter"
						  >{{ display_totals($emailLogsDetail, $total) }}</span
						>
				</div>

			</div>
			<xf:else />
			<div class="block-body block-row">{{ phrase('no_items_have_been_created_yet') }}</div>

		</xf:if>

	</div>


	<xf:pagenav
				page="{$page}"
				perpage="{$perPage}"
				total="{$total}"
				link="email-logs/detail"
				wrapperclass="block"
				/>
</xf:form>
<xf:macro
		  name="table_list"
		  arg-data="!"
		  >
	<xf:datarow rowtype="header">
		<xf:cell> {{ phrase('fs_email_logs_email') }} </xf:cell>
		<xf:cell> {{ phrase('fs_email_logs_date') }} </xf:cell>
		<xf:cell class="dataList-cell--min"></xf:cell>
	</xf:datarow>
	<xf:foreach loop="{$data}" key="$key" i="$i" value="$value">
		<xf:datarow>

			<xf:cell> {$value.email} </xf:cell>
			<xf:cell> <xf:date time="{$value.date}" /> </xf:cell>

			<xf:if is="$value.phone_no is not empty">
				<xf:action href="{{ link('email-logs/send', $value) }}" >
					{{ phrase('send') }}
				</xf:action>
			</xf:if>

		</xf:datarow>
	</xf:foreach>
</xf:macro>