<hr class="formRowSep" />

<xf:numberboxrow name="options[limit]" value="{$options.limit}" min="1"
				 label="{{ phrase('maximum_entries') }}" />

<xf:numberboxrow name="options[dateLimit]" 
				 value="{$options.dateLimit}"
				 label="{{ phrase('date_limit') }}"
				 explain="{{ phrase('fs_date_limit_explain') }}"
				 units="{{ phrase('units_days') }}"
				 min="0" />

<xf:radiorow name="options[order]" value="{{ $options.order ?: 'newest' }}"
			 label="{{ phrase('fs_custom_display_order') }}">

	<xf:option value="newest"
			   label="{{ phrase('fs_custom_display_newest_thread') }}" />
	<xf:option value="random"
			   label="{{ phrase('fs_custom_display_random_thread') }}"
			   hint="{{ phrase('fs_custom_display_random_thread_explain') }}" />
</xf:radiorow>

<xf:selectrow name="options[node_ids][]" value="{{ $options.node_ids ?: '' }}" multiple="multiple" size="7"
			  label="{{ phrase('forum_limit') }}"
			  explain="{{ phrase('only_include_threads_in_selected_forums') }}">

	<xf:option value="">{{ phrase('all_forums') }}</xf:option>
	<xf:foreach loop="$nodeTree.getFlattened(0)" value="$treeEntry">
		<xf:option value="{$treeEntry.record.node_id}" disabled="{{ $treeEntry.record.node_type_id != 'Forum' }}">
			{{ repeat('&nbsp;&nbsp;', $treeEntry.depth)|raw }} {$treeEntry.record.title}
		</xf:option>
	</xf:foreach>
</xf:selectrow>

<hr class="formRowSep" />

<xf:numberboxrow name="options[slider][item]" value="{$options.slider.item}" min="1"
				 label="{{ phrase('fs_maximum_slides') }}"
				 explain="{{ phrase('fs_maximum_slides_explain') }}" />

<xf:checkboxrow>
	<xf:option data-hide="true" selected="$options.slider.itemWide OR $options.slider.itemMedium OR $options.slider.itemNarrow">
		<xf:label>{{ phrase('fs_enable_responsive_slides') }}</xf:label>
		<xf:dependent>
			<dl class="inputLabelPair">
				<dt><label for="ctrl_wide">{{ phrase('fs_maximum_slides') }} {{ phrase('(fs_wide)') }}</label></dt>
				<dd><xf:numberbox name="options[slider][itemWide]" id="ctrl_wide" value="{$options.slider.itemWide}" min="0" required="{{ false }}" /></dd>
			</dl>
			<dl class="inputLabelPair">
				<dt><label for="ctrl_medium">{{ phrase('fs_maximum_slides') }} {{ phrase('(fs_medium)') }}</label></dt>
				<dd><xf:numberbox name="options[slider][itemMedium]" id="ctrl_medium" value="{$options.slider.itemMedium}" min="0" required="{{ false }}" /></dd>
			</dl>
			<dl class="inputLabelPair">
				<dt><label for="ctrl_narrow">{{ phrase('fs_maximum_slides') }} {{ phrase('(fs_narrow)') }}</label></dt>
				<dd><xf:numberbox name="options[slider][itemNarrow]" id="ctrl_narrow" value="{$options.slider.itemNarrow}" min="0" required="{{ false }}" /></dd>
			</dl>
		</xf:dependent>
		<xf:afterhint>{{ phrase('fs_enable_responsive_slides_explain') }}</xf:afterhint>
	</xf:option>
</xf:checkboxrow>

<xf:checkboxrow>
	<xf:option name="options[slider][auto]"
			   selected="{$options.slider.auto}"
			   hint="{{ phrase('fs_auto_play_hint') }}">
		{{ phrase('fs_auto_play') }}
	</xf:option>

	<xf:option name="options[slider][loop]"
			   selected="{$options.slider.loop}"
			   hint="{{ phrase('fs_loop_slides_hint') }}">
		{{ phrase('fs_loop_slides') }}
	</xf:option>

</xf:checkboxrow>

<hr class="formRowSep" />

<xf:macro template="custom_fields_macros" name="custom_fields_edit"
		  arg-type="threads"
		  arg-set="{$thread.custom_fields}"
		  arg-onlyInclude="{$onlyInclude}"
		  arg-options="{$options}"
		  arg-requiredOnly="false" />