<xf:title>{{ phrase('fs_quiz_question_no', {'quesNo': $quesNo, 'totalQuestions': $totalQuestions}) }}</xf:title>

<xf:form action="{{ link('question/next', $question) }}" class="block">

	<div class="block-container">
		<div class="block-body">

			<xf:formrow label="{{ phrase('fs_quiz_question_title') }}">
				{$question.question_title}
			</xf:formrow>

			<xf:formrow rowtype="input"	label="{{ phrase('fs_quiz_question_answer') }}" hint="{{ phrase('required') }}">
				<xf:textbox name="answer" placeholder="{{ phrase('fs_quiz_answer_placeholder') }}" required="required" minlength="2"/>
			</xf:formrow>

		</div>

		<xf:if is="$finish">
			<xf:submitrow submit="{{ phrase('fs_quiz_finish') }}" icon="confirm" sticky="true" rowtype="simple"/>
			<xf:else />
			<xf:submitrow submit="{{ phrase('next') }}" icon="confirm" sticky="true" rowtype="simple"/>
		</xf:if>
	</div>
	<xf:hiddenval name="id">{{ $quizId }}</xf:hiddenval>
</xf:form>