<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="ft-slider" sub_name="features" format="features/:int&lt;thread_id&gt;/" controller="XDinc\FTSlider:FTSlider" context="FTSlider"/>
  <route route_type="public" route_prefix="all-features" format=":int&lt;ftslider_id,ftslider_title&gt;/" controller="XDinc\FTSlider\Pub\Controller\FTSliders" context="forums"/>
</routes>
