<xf:if is="$meeting.isInsert()">
	<xf:title>{{ phrase('add_meeting') }}</xf:title>
	<xf:else />
	<xf:title>{{ phrase('edit_meeting:') }} {$meeting.topic}</xf:title>
</xf:if>

<xf:pageaction if="$meeting.isUpdate()">
	<xf:button href="{{ link('meeting/delete', $meeting) }}" icon="delete" overlay="true" />
</xf:pageaction>

<xf:form action="{{ link('meeting/save', $meeting) }}"  ajax="true" data-xf-init="attachment-manager" >

	<div class="block-container">
		<div class="block-body">

			<xf:textboxrow name="topic" value="{$meeting.topic}"  required="true" autofocus="true"
						   label="{{ phrase('zoom_meeting_topic') }}" />

			<xf:editorrow name="description" value="{{$meeting.Thread ? $meeting.Thread.FirstPost.message : ''}}" 
						  label="{{ phrase('zoom_meeting_description') }}" />



			<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{phrase('meeting_timing')}}</span></h2>
			<xf:formrow rowtype="input"
						label="{{ phrase('start_time') }}">
				<div class="inputGroup">

					<xf:dateinput name="start_date" class="date start" value="{{$meeting.start_time ? $meeting.start_time : ''}}" required="true"
								  hint="{{ phrase('required') }}"/>

					<span class="inputGroup-splitter"></span>

					<xf:textbox name="start_time" class="input--date time start" required="true" type="time"
								value="{{$meeting.start_time ? $meeting.getStartTimeConvert() : ''}}"
								data-xf-init="time-picker" data-moment="{{$meeting.start_time ? $meeting.getStartTimeConvert() : ''}}" data-format="{{ $xf.language.time_format }}" />

				</div>
			</xf:formrow>

			<xf:numberboxrow name="duration" value="{{$meeting.duration}}" min="10" 			
							 label="{{ phrase('duration') }}"  explain="{{phrase('duration_explain')}}"/>

			<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{phrase('meeting_discussion')}}</span></h2>

			<xf:textboxrow name="thread_title" value="{$meeting.Thread.title}"  required="true" autofocus="true"
						   label="{{ phrase('discussion_title') }}" explain="{{ phrase('discussion_title_explain') }}" />

			<xf:formrow label="{{phrase('destination_forum')}}">

				<xf:select name="forum_id" value="{$meeting.forum_id}" id="js-applicableForums">

					<xf:foreach loop="$nodeTree.getFlattened(0)" value="$treeEntry">
						<xf:option value="{$treeEntry.record.node_id}"
								   disabled="{{ $treeEntry.record.node_type_id != 'Forum' }}"
								   label="{{ repeat('&nbsp;&nbsp;', $treeEntry.depth)|raw }} {$treeEntry.record.title}" />
					</xf:foreach>

				</xf:select>
			</xf:formrow>
			<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{phrase('join_meeting_validation')}}</span></h2>
			<xf:selectrow name="join_usergroup_ids[]" multiple="multiple" size="5" value="{{$meeting.join_usergroup_ids}}"
						  label="{{ phrase('user_groups_allow_join') }}"
						  explain="{{ phrase('user_groups_allow_join_explain') }}"
						  >
				<xf:foreach loop="$userGroups" value="$userGroup">
					<xf:option value="{$userGroup.user_group_id}">{$userGroup.title}</xf:option>
				</xf:foreach>
			</xf:selectrow>
			<xf:comment>
				<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{phrase('alert_before_meeting_start')}}</span></h2>
				<xf:numberboxrow name="alert_duration" value="{{$meeting.alert_duration}}" min="1" 			
								 label="{{ phrase('alert_send') }}"  explain="{{phrase('alert_send_explain')}}"/>
			</xf:comment>
		</div>
	</div>
	<xf:submitrow sticky="true" icon="save" />

</xf:form>