<xf:title>{$option.title}</xf:title>

<xf:form action="{{ link('options/zoom-meeting-auth-setup', $option) }}"  class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow>
				{{ phrase('zoom_setup_explain:') }}
				<div><code>{$redirectUri}</code></div>
			</xf:inforow>

			<xf:textboxrow name="client_id" value="{$xf.options.zoom_meeting_client_id}"
				label="{{ phrase('client_id') }}"
				required="required" />

			<xf:textboxrow name="client_secret"
						   value="{$xf.options.zoom_meeting_client_secret}"
				label="{{ phrase('client_secret') }}"
				required="required" />

			<xf:inforow>
				{{ phrase('continuing_will_redirect_you_to_zoom_to_confirm_account_you_want_to') }}
			</xf:inforow>
		</div>
		<xf:submitrow sticky="true" submit="{{ phrase('continue') }}" />
	</div>
</xf:form>