<xf:title>{{ phrase('fs_female_verification_title') }}</xf:title>

<xf:form action="{{ link('female-verify/add') }}" class="block" ajax="true" novalidate="false">
	<div class="block-container">
		<div class="block-body">

			<xf:inforow rowtype="confirm">
				{{ phrase('fs_female_verify_please_submit_the_necessary', {'size': $xf.options.fs_female_verification_images_size}) }}
			</xf:inforow>

			<xf:radiorow name="female_identity_type"
						 label="{{ phrase('fs_female_verification_type') }}">

				<xf:option value="images" selected="true"
						   label="{{ phrase('fs_female_upload_images') }}"
						   data-xf-init="disabler"
						   data-container=".identity-images"
						   data-hide="yes" />

				<xf:option value="boxes"
						   label="{{ phrase('fs_female_submit_information') }}"
						   data-xf-init="disabler"
						   data-container=".identity-boxes"
						   data-hide="yes" />
			</xf:radiorow>

			<div class="identity-images">

				<xf:uploadrow name="govImage" accept=".gif,.jpeg,.jpg,.jpe,.png"
							  label="{{ phrase('fs_female_verify_add_gov_image') }}"
							  hint="{{ phrase('required') }}"
							  explain="{{ phrase('fs_female_verify_explain_gov_image') }}" data-required="true"></xf:uploadrow>

				<xf:uploadrow name="selfiImage" accept=".gif,.jpeg,.jpg,.jpe,.png"
							  label="{{ phrase('fs_female_verify_add_selfi_image') }}"
							  hint="{{ phrase('required') }}"
							  explain="{{ phrase('fs_female_verify_explain_selfi_image') }}" data-required="true"></xf:uploadrow>

				<xf:uploadrow name="paperImage" accept=".gif,.jpeg,.jpg,.jpe,.png"
							  label="{{ phrase('fs_female_verify_add_paper_image') }}"
							  hint="{{ phrase('required') }}"
							  explain="{{ phrase('fs_female_verify_explain_paper_image') }}" data-required="true"></xf:uploadrow>

			</div>

			<div class="identity-boxes">

				<xf:textboxrow name="boxOne" hint="{{ phrase('required')}}" explain="{{ phrase('fs_female_boxOne_explain')}}" required="required" label="{{ phrase('fs_female_boxOne_title') }}" />

				<xf:textboxrow name="boxTwo" hint="{{ phrase('required')}}" explain="{{ phrase('fs_female_boxTwo_explain')}}" required="required" label="{{ phrase('fs_female_boxTwo_title') }}" />

			</div>

		</div>
		
		<xf:submitrow sticky="true" icon="upload" submit="{{ phrase('fs_submit_verification_images') }}">
			<xf:html>
				<xf:button href="{{ link('members', $xf.visitor) }}" icon="cancel" name="exit">{{ phrase('cancel') }}</xf:button>
				<input type="hidden" name="_page" value="{$_page}" />
			</xf:html>
		</xf:submitrow>
	</div>
</xf:form>