<xf:title>{$upgradePage.title}</xf:title>
<xf:pageaction>
	<xf:button href="{{ link('package-rating/add') }}" icon="rate" overlay="true"
			   >{{ phrase('fs_package_rating') }}</xf:button
		>
</xf:pageaction>

<xf:if is="$purchased is not empty">
	<div class="block">
		<div class="block-container">
			<h2 class="block-header">{{ phrase('purchased_upgrades') }}</h2>

			<ul class="block-body listPlain">
				<xf:foreach loop="$purchased" value="$upgrade">
					<li>
						<div>
							<xf:set var="$active" value="{$upgrade.Active.{$xf.visitor.user_id}}" />
							<xf:formrow
										label="{$upgrade.title}"
										hint="{$upgrade.cost_phrase}"
										explain="">

								<xf:if is="$active.end_date">
									{{ phrase('expires:') }} <xf:date time="{$active.end_date}" />
									<xf:else />
									{{ phrase('expires_never') }}
								</xf:if>

								<xf:if is="$upgrade.length_unit && $upgrade.recurring && $active.PurchaseRequest">
									<xf:set var="$provider" value="{$active.PurchaseRequest.PaymentProfile.Provider}" />
									{{ $provider.renderCancellation($active)|raw }}
								</xf:if>
							</xf:formrow>
						</div>
					</li>

<xf:if is="$xf.visitor.user_id == $active.User.user_id">
    <xf:formrow rowtype="button">
        <xf:button href="{{ link('account/downgrade', null, {'user_upgrade_record_id': $active.user_upgrade_record_id}) }}" icon="cancel" class="button--link" overlay="true">{{ phrase('fs_cancel_subscription') }}</xf:button>
    </xf:formrow>
    <div style="border: 1px solid red; background-color: black; color: white; padding: 10px; margin-top: 10px; display: flex; align-items: center;">
        <i class="fa fa-exclamation-triangle" style="color: red; margin-right: 10px;"></i>
        Canceling will immediately remove all perks and access.
    </div>
</xf:if>
</xf:foreach>
</ul>


		</div>
	</div>
</xf:if>



<xf:css src="thmonetize_upgrade_page.less" />

<xf:macro template="thmonetize_upgrade_page_macros"
		  name="upgrade_options"
		  arg-upgradePage="{$upgradePage}"
		  arg-upgrades="{$upgrades}"
		  arg-profiles="{$profiles}"
		  arg-showFree="{{ true }}"
		  arg-filter="{{$filter}}"
		  arg-showFilters="{{$showFilters}}"
		  arg-redirect="{{$redirect}}"
		  arg-coupons="{{$coupons}}"
		  arg-coupon="{{$coupon}}"
		  />