<xf:if is="$threads is not empty">
	<xf:css src="fs_custom_widget_list.less" />
	<xf:css src="fs_lightslider.less" />

	<xf:js src="vendor/lightslider/lightslider.js" min="1" />
	<xf:js src="CustomWidget/slider.js" min="1" />

	{{dump($options.slider|json)}}

	<div class="block" {{ widget_data($widget) }}>
		<div class="block-container">
			<h3 class="block-minorHeader">
				<a href="{$link}" rel="nofollow">{{ $title }}</a>
			</h3>
			<div class="block-body block-row">
				<div class="itemList itemList--slider"
					 data-xf-init="item-slider"
					 data-xf-item-slider="{$options.slider|json}">

					<xf:foreach loop="$threads" value="$thread">
						<div class="itemList-item itemList-item--slider">
							<a href="{{ link('threads/post', $thread, {'post_id': $thread.last_post_id,'isClicked': 2}) }}">
								<span class="xfmgThumbnail xfmgThumbnail--image xfmgThumbnail--fluid">
									<img class='xfmgThumbnail-image' src="{{ count($thread.FirstPost.Attachments) ? link('full:attachments', $thread.FirstPost.Attachments.first()) : base_url('styles/FS/CustomWidgetImage/no_image.png',true) }}" alt='{$thread.title}' style="width: {$xf.options.fs_custom_thread_image_dimensions.width}px; height: {$xf.options.fs_custom_thread_image_dimensions.height}px;"/>
									<span class='xfmgThumbnail-icon'></span>
								</span>
							</a>

							<xf:if is="$thread.isUnread()">
								<a href="{{ link('threads/unread', $thread, {'post_id': $thread.last_post_id,'isClicked': 2}) }}">{{ prefix('thread', $thread) }}{$thread.title}</a>
								<xf:else />
								<a href="{{ link('threads/post', $thread, {'post_id': $thread.last_post_id,'isClicked': 2}) }}">{{ prefix('thread', $thread) }}{$thread.title}</a>
							</xf:if>

							<div class="contentRow-minor contentRow-minor--hideLinks">
								<ul class="listInline listInline--bullet">
									<li>{{ phrase('fs_clicks_count_x', {'clicks': $thread.click_count}) }}</li>
									<li>{{ phrase('fs_view_count_x', {'views': $thread.view_count}) }}</li>
								</ul>
							</div>

						</div>
					</xf:foreach>
				</div>
			</div>
		</div>
	</div>
</xf:if>