<xf:js src="vendor/select2/select2.full.min.js" />
<xf:js>
	$(document).ready(function() {
	$('.js-example-basic-single').select2({
	containerCssClass: "input" 
	});
	});
</xf:js>

<xf:css src="select2.less"/>
<xf:css src="altf_select2.less"/>
<xf:js prod="xf/token_input-compiled.js" dev="vendor/select2/select2.full.min.js, xf/token_input.js"/>

<xf:js>
	jQuery.extend(XF.phrases, {
	s2_error_loading: "{{ phrase('s2_error_loading')|escape('js') }}",
	s2_input_too_long: "{{ phrase('s2_input_too_long')|escape('js') }}",
	s2_input_too_short: "{{ phrase('s2_input_too_short')|escape('js') }}",
	s2_loading_more: "{{ phrase('s2_loading_more')|escape('js') }}",
	s2_maximum_selected: "{{ phrase('s2_maximum_selected')|escape('js') }}",
	s2_no_results: "{{ phrase('s2_no_results')|escape('js') }}",
	s2_searching: "{{ phrase('s2_searching')|escape('js') }}"
	});
</xf:js>
<xf:form action="{{ link('latest-contents', $forum) }}">
	<xf:extension name="start"></xf:extension>


	<div class="menu-row menu-row--separated">
		{{ phrase('nodes:') }}
		<div class="u-inputSpacer">
			<xf:select name="thread_fields[node_ids]"  value="{{ $conditions.thread_fields.node_ids ?: [] }}" multiple="{{ true }}" class="input js-example-basic-single"

					   title="{{ phrase('nodes') }}">


				<xf:foreach loop="{$forums}" key="$nodeId" value="$node">
					<xf:option value="{$nodeId}"
							   label="{{ $node.title }}" />
				</xf:foreach>


			</xf:select>
		</div>
	</div>

	<!--[XF:above_prefixes]-->

	<xf:extension name="before_started_by"></xf:extension>

	<!--[XF:above_started_by]-->

	<xf:extension name="before_date_limit"></xf:extension>

	<!--[XF:above_last_updated]-->
	<div class="menu-row menu-row--separated">
		<label for="ctrl_last_updated">{{ phrase('last_updated:') }}</label>
		<div class="u-inputSpacer">
			<xf:if is="$filters.no_date_limit">
				<xf:set var="$lastDays" value="" />
				<xf:else />
				<xf:set var="$lastDays" value="{{ $filters.last_days ?: $forum.list_date_limit_days }}" />
			</xf:if>
			<xf:select name="last_days" value="{$conditions.last_days}" id="ctrl_last_updated">
				<xf:option value="-1">{{ phrase('any_time') }}</xf:option>
				<xf:option value="7">{{ phrase('x_days', {'days': '7'}) }}</xf:option>
				<xf:option value="14">{{ phrase('x_days', {'days': '14'}) }}</xf:option>
				<xf:option value="30">{{ phrase('x_days', {'days': '30'}) }}</xf:option>
				<xf:option value="60">{{ phrase('x_months', {'months': '2'}) }}</xf:option>
				<xf:option value="90">{{ phrase('x_months', {'months': '3'}) }}</xf:option>
				<xf:option value="182">{{ phrase('x_months', {'months': '6'}) }}</xf:option>
				<xf:option value="365">{{ phrase('1_year') }}</xf:option>
			</xf:select>
		</div>
	</div>



	<!--[XF:above_sort_by]-->
	<div class="menu-row menu-row--separated">
		{{ phrase('sort_by:') }}
		<div class="inputGroup u-inputSpacer">
			<span class="u-srOnly" id="ctrl_sort_by">{{ phrase('sort_order') }}</span>
			<xf:select name="order" value="{{ $conditions.order ?: $forum.default_sort_order }}" aria-labelledby="ctrl_sort_by">
				<xf:foreach loop="$sortOptions" key="$sortKey" value="$null">
					<xf:option value="{$sortKey}">{{ phrase_dynamic('forum_sort.' . $sortKey) }}</xf:option>
				</xf:foreach>
			</xf:select>
			<span class="inputGroup-splitter"></span>
			<span class="u-srOnly" id="ctrl_sort_direction">{{ phrase('sort_direction') }}</span>
			<xf:select name="direction" value="{{ $conditions.direction ?: $forum.default_sort_direction }}" aria-labelledby="ctrl_sort_direction">
				<xf:option value="desc">{{ phrase('descending') }}</xf:option>
				<xf:option value="asc">{{ phrase('ascending') }}</xf:option>
			</xf:select>
		</div>



	</div>

	<div class="menu-row menu-row--separated">
		<label for="ctrl_started_by">{{ phrase('keywords:') }}</label>
		<div class="u-inputSpacer">
			<xf:textbox name="keywords" value="{{ $conditions.keywords }}"/>
		</div>
	</div>

	<div class="menu-row menu-row--separated">
		<label for="ctrl_started_by">{{ phrase('tags:') }}</label>
		<div class="u-inputSpacer">
			<xf:tokeninput name="tags" value="{{ $conditions.tags}}"
						   href="{{ link('misc/tag-auto-complete') }}"
						   min-length="{$xf.options.tagLength.min}"
						   max-length="{$xf.options.tagLength.max}"
						   max-tokens="{$xf.options.maxContentTags}"
						   >
			</xf:tokeninput>
		</div>
	</div>


	<div class="menu-row menu-row--separated">
		<label for="ctrl_started_by">{{ phrase('exclude_tags:') }}</label>
		<div class="u-inputSpacer">
			<xf:tokeninput name="extags" value="{{ $conditions.extags}}"
						   href="{{ link('misc/tag-auto-complete') }}"
						   min-length="{$xf.options.tagLength.min}"
						   max-length="{$xf.options.tagLength.max}"
						   max-tokens="{$xf.options.maxContentTags}"
						   >
			</xf:tokeninput>
			
			<xf:comment>max-tokens="{$xf.options.maxContentTags}"</xf:comment>
		</div>
	</div>






	<div class="menu-row menu-row--separated">
		{{ phrase('prefix:') }}
		<div class="u-inputSpacer">
			<xf:select name="prefix_ids1"  value="{{ $conditions.prefix_ids1 ?: [] }}" multiple="{{ true }}" class="input js-example-basic-single"

					   title="{{ phrase('prefix') }}">


				<xf:foreach loop="{{$prefixGroup1}}" key="$prefixId" value="$prefix">
					<xf:option value="{$prefixId}"
							   label="{{ prefix_title('thread', $prefixId) }}"
							   data-prefix-class="{$prefix.css_class}"
							   data-has-help="{$prefix.has_usage_help}" />
				</xf:foreach>


			</xf:select>
		</div>
	</div>

	<div class="menu-row menu-row--separated">
		{{ phrase('prefix:') }}
		<div class="u-inputSpacer">
			<xf:select name="prefix_ids2"  value="{{ $conditions.prefix_ids2 ?: [] }}" multiple="{{ true }}" class="input js-example-basic-single"

					   title="{{ phrase('prefix') }}">


				<xf:foreach loop="{{$prefixGroup2}}" key="$prefixId" value="$prefix">
					<xf:option value="{$prefixId}"
							   label="{{ prefix_title('thread', $prefixId) }}"
							   data-prefix-class="{$prefix.css_class}"
							   data-has-help="{$prefix.has_usage_help}" />
				</xf:foreach>


			</xf:select>
		</div>
	</div>
	<div class="menu-row menu-row--separated">
		{{ phrase('prefix:') }}
		<div class="u-inputSpacer">
			<xf:select name="prefix_ids3"  value="{{ $conditions.prefix_ids3 ?: [] }}" multiple="{{ true }}" class="input js-example-basic-single"

					   title="{{ phrase('prefix') }}">


				<xf:foreach loop="{{$prefixGroup3}}" key="$prefixId" value="$prefix">
					<xf:option value="{$prefixId}"
							   label="{{ prefix_title('thread', $prefixId) }}"
							   data-prefix-class="{$prefix.css_class}"
							   data-has-help="{$prefix.has_usage_help}" />
				</xf:foreach>


			</xf:select>
		</div>
	</div>



	<xf:extension name="end"></xf:extension>

	<div class="menu-footer">
		<span class="menu-footer-controls">
			<xf:button type="submit" class="button--primary">{{ phrase('filter') }}</xf:button>
		</span>
	</div>
	<xf:hiddenval name="apply">1</xf:hiddenval>
</xf:form>